<div class="rental col-md-4 {{if @project.singleimage 'individual' 'presentation'}}" {{on "click" this.toggleSize}}>
  
  {{#if this.isLarge }}
    <Project::Detailed class="details-view" @project={{@project}}/>
  {{else}}

      <Project::Image class="image-view" @project={{@model}}
        src={{@project.image}}
        alt="A picture of {{@project.title}}"
      />
    
  {{/if}}

 
</div>
